/*PRE-RENDER*/
	/*Google Fonts*/
	@import url('http://fonts.googleapis.com/css?family=Varela+Round')
	/*Normalize*/
	@import "normalize.styl"
	/*Fonts*/
	@import "iconfonts.styl"
	/*Nib - Mixins for Stylus*/
	@import "nib"
	
/*Podemos agregarle, gracias a Nib, los prefijos que especifiquemos...
esto puede servir en el caso de que aparezca un nuevo motor de render
con algún nuevo navegador.*/	
// vendor-prefixes = webkit o ms moz official papitas		


/*Header COMPONENT*/
@import "header.styl"

/*MainMenu COMPONENT*/
@import "mainmenu.styl"
	
/*TopHits COMPONENT*/
@import "tophits.styl"

/*Playing COMPONENT*/
@import "songplaying.styl"

/*Home COMPONENT*/
@import "home.styl"

/*Utilities*/
@import "utilities.styl"

/*Temporary HIDDEN COMPONENTS FILE*/
@import "hiddencomponents.styl"


	

