/*Utilities*/

.u-translucent
	opacity .5

.u-opaque
		opacity 1

.u-relative
	position relative

.u-homeBackground
	background url('../images/backgroundhome.jpg') no-repeat right / cover	

@media screen and (min-width:1000px)
	
	.u-overflowHidden
		overflow hidden	

	.u-lg-containerDefault
		margin 0 auto	
		max-width 1000px